@import"variable.css";

.alert {
    display: flex;
    align-items: center;
    padding: var(--spacing-4);
    margin: var(--spacing-4);
    border-radius: var(--radius-md);
}

.info {
    background-color: var(--info-bg);
    border: 0.125rem solid var(--info-border);
    color: var(--info-text);
}

.icon-alert-svg {
    min-height: var(--spacing-4);
    min-width: var(--spacing-4);
    -webkit-mask-image: url('../assets/svg/alert.svg');
    mask-image: url('../assets/svg/alert.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: background-color 0.3s ease;
    margin-right: var(--spacing-2);
    /* transform: translateY(-0.5rem); */
}

.info .icon-alert-svg {
    background-color: var(--info-text);

}

.error .icon-alert-svg {
    background-color: var(--error-text);
}

.error {
    background-color: var(--error-bg);
    border: 0.125rem solid var(--error-border);
    color: var(--error-text);
}

.error img {
    margin-right: var(--spacing-2);
    color: var(--error-bg);
}
