@import "variables.css";

.copy-box {
    position: relative;
    background-color: var(--input-shortcut);
    border: 0.125rem solid var(--border-default);
    margin: var(--spacing-2) auto;
    padding: var(--spacing-2) var(--spacing-4);
    border-radius: var(--radius-md);
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.copy-button {
    position: absolute;
    bottom: 0.75rem;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.copy-logo{
    height: var(--spacing-4);
    width: var(--spacing-4);
    -webkit-mask-image: url('/assets/svg/copy.svg');
    mask-image: url('/assets/svg/copy.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: background-color 0.3s ease;
    margin-right: var(--spacing-2);
    background-color: var(--text-secondary);
}

.copy-check {
    -webkit-mask-image: url('/assets/svg/check.svg');
    mask-image: url('/assets/svg/check.svg');
    display: none;
}

.copy-message {
    position: absolute;
    bottom: 0;
    right: 1rem;
    background-color: var(--text-secondary);
    color: var(--input-shortcut);
    padding: var(--spacing-1) var(--spacing-2);
    border-radius: var(--radius-sm);
    font-size: 0.875rem;
    display: none;
    width: max-content;
}
.copy-text {
    overflow-wrap: break-word;
    word-break: break-word;
    padding-right: var(--spacing-8);
    margin: 0;
}
